// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.flip-H {
    display: inline-block;
    transform: scale(-1, 1);
}

.title {
    font-size: 84px;
}


div.binButton input {
    background:url(/storage/icons/173-bin.32.png) no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    border: none;
}
